// Jade variables can be used to remove clutter from the DOM structure!
- var line1 = "We should leverage directives for all DOM related interactivity and template injection."
- var line2 = "While services should be used for anything that retrieves (AJAX) or manipulates data."

md-card
  md-card-content
    h2 Directives!
    p= line1
    p= line2
  md-card-footer
    p Notice we're using 
      a(href="https://material.angularjs.org/") angular-material
