@import "variables";

h1 {
  font-family: "Book Antiqua";
}

ng-md-icon {
  height: auto;
  width: auto;
}

.md-card > img {
  height: auto;
  width: 25%;
}

md-grid-tile {
  .green {
    background: #b9f6ca;
  }

  .blue {
    background: #80d8ff;
  }
}